.about-info {
	background-color: $biege;

	&.calculator-banner + .catalog-main-block {
		padding-top: 8rem;
	}

	.section-tags__container {
		margin-bottom: 6rem;
	}

	@media (max-width: 48em) {
		padding-top: 5.6rem;
		padding-bottom: 9.6rem;
	}
}